/* ================================

content.css 

- Links in main 
- Inhalte in main    

================================ */ 

@media screen {

    /* Position Logo */
    img.logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin: 0 auto 1rem;
    }

    


    /* Facebook Icon vieeeeeel kleiner!!!!!!!!!!!!!!!*/
    img.fb_token {
        width: 1rem;
    }



} /* end media */