/* ================================

layout.css 

- Gestaltung der Layoutbereiche 
- Hauptnavigation in eigenem Stylesheet 
- Inhaltsbereich in content.css 

================================ */

@media screen {
    /*Gestaltung der Überschriften */
    h1, h2, h3, h5, h6 {
        text-align: center;
    }

    /*Abstände */
    article {
        margin: 1rem;
    }
    section {
        margin: 2rem;
    }

    /* Wrapper to keep the full width of the Website but move the elements more towards the centre */
    .wrapper {
        width: 75%;
        padding: 0 1rem; 
        margin: 0 auto; 
    }

} /* end media */