/* Layout Navigation */


@media screen {
/*Basic Layout of the Navigation */

    ul {
        list-style-type: none;
        font-size: large;
        padding: 1rem;
        
    }

    .site-nav {
        background-color: white;
        position: sticky;
        position: -webkit-sticky;
        top:0;
        z-index: 1;
    }


    li a:hover, li a:active, li a:focus { 
       color: #25abe8;    
       transition: 0.3s ease;  
    }

    a.grid_nav {
      text-decoration: none;
      color: black;
    }

    #u-r-here {
        color: #25abe8;
    }


    /* Display the Navigation in Grid */

    ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr) 2fr repeat(4, 1fr) 1.5fr; 
        grid-column: 1/2;
        padding: 1rem;
        justify-items: center;
    }

} /* end media */