/* ================================

slideshow.css

Gestaltung der Diashow, oben auf der Webseite
================================ */

@media screen {

    /* Slideshow container */
    .Slidehow-container {
        position: relative;
        margin: auto;
        z-index: 0;
    }

    /* Slideshow Bilder */

     .bild_slideshow img{
        width: 100%;
        height: 500px;
        object-fit: cover;
    }

    /* Hide the pictures by default */
    .bild_slideshow {
        display: none;
        width: 100%;
    }

    /* Next & Previous bottons */

    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 2rem;
        transition: 0.6 ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    /* On hover, add a orange background color */
    .prev:hover, .next:hover {
        background-color: rgb(255,102,0, 0.5);
    }



    /* The dots/bullets/indicators */
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
        }
    
    .active, .dot:hover {
        background-color: rgb(255,102,0);
    }

    .dot_section {
      display: flex;
      justify-content: center;
    }

  /* Fading animation */
    .slide {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }
    
    @-webkit-keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }
    
    @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }
  
} /* end media*/