@media screen {

    /*
    welcome section
    */
    #welcomeSection {
        background-color: #ffccbb;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;

        height: 50vh;
        width: 100vw;
    }
    .gridContainer {
        display: grid;
        grid-template-areas: ". weclomeTitle ."". welcomeSubtitle ."". welcomeText .";
        grid-template-columns: 10vw 1fr 10vw;
        align-content: center;
    }

    #weclomeTitle {
        grid-area: weclomeTitle;
    }
    #welcomeSubtitle {
        grid-area: welcomeSubtitle;
    }
    #welcomeText {
        grid-area: welcomeText;
    }

}/*end media*/