/*************************

* Gestaltung Navigation *

**************************/

@media screen {
    #navContainer {
        background-color: #006c84;
        color:#e2e8e4;
        
        padding: 0;

        position: sticky;
        position: -webkit-sticky;
        top: 0;
    }
    #nav {
        list-style-type: none;
        display: flex;

        padding: 0;
        margin: 0;
        justify-content: flex-start;
    }
    .navLi {
        
        padding: 1rem;
    }
    .navA {
        text-decoration: none;
        color:#e2e8e4;
    }
    .navLi:hover, .navLi:focus, .navLi:active {
        background-color: #6eb5c0;
    }
} /*end screen*/