/* Stylesheet zur Gestaltung der Beispielsite */ 


/* Grundlegende Gestaltung der Navigation und der Fußzeile */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  font-family: "Source Sans Pro", Arial, sans-serif;
  line-height: 1.5;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}

.site-footer {
	font-size: smaller;
}

.site-content {
  text-align: justify;
  hyphens: auto;
}

.site-content a:link: {
  color: #0b74b8;
}
.site.content a:visited: {
  color: #36aade;
}
.site-content a:hover,
.site-content a:focus {
  color: #f5562e;
}
.site-content a:active: {
  color: #d90000;
}

.site-nav,
.site-footer {
  background-color: #333; 
  padding: 0.5em; 
  margin: 1em 0; 
}
.site-nav-list {
  padding: 0; 
  margin: 0; 
}
.site-nav-list li {
  display: inline; 
  margin-right: 1em; 
}
.site-nav-list a,
.site-footer a {
  color: white; 
  text-decoration: none; 
}


/* Abstände Logo und Slogan anpassen */ 
.site-logo {
  margin-bottom: 0; 
}
.site-slogan {
  margin: 0; 
}

/* Grundlegende Gestaltung der Infoboxen */ 
.infoboxen {
  background-color: #eee; 
  padding: 1em; 
  margin-bottom: 1em; 
}
.infobox {
  text-align: center; 
  background-color: white; 
  padding: 1em;
  margin: 1em; 
}

/* Grundlegende Gestaltung der Kundenstimmen */ 
.kundenstimme {
  background-color: #eee; 
  text-align: center; 
  padding: 1em; 
  margin: 1em 0; 
}

/* Grundlegende Gestaltung der Navigation */ 
a.sie-sind-hier {
  text-decoration: underline; 
}

/* Grundlegende Gestaltung Kontaktdaten und Kontaktformular */ 
address {
  font-style: normal; 
}
label {
  display: block; 
}
form div {
  margin-bottom: 1em; 
}









