/* ================================

content.css 

- Links in main 
- Inhalte in main    

================================ */ 

@media screen {

    /*Header*/
    


    /* Willkommen*/
    .fotofrank {
        max-height: 100%;
    }


    /*Buecher*/
    .header_buecher {
            justify-self: center;
            align-self: center;
        }

    .tor-der-traume_bild, .Arena-Fussballbuch_bild, .zeichen_christi_bild {
        align-self: center;
        justify-self: center;
        max-height: 90%;
        max-width: 80%;
        justify-content: space-between;
    }

    .tor-der-traume_text, .Arena-Fussballbuch_text, .zeichen_christi_text {
        align-self: center;
        justify-self: center;
        
    }

    /*Footer*/




} /* end media */