/* ================================

content.css 

- Links in main 
- Inhalte in main    

================================ */ 

@media screen {

    /*Zitat Top of Page*/
    .quotePapa {
        text-align: center;
        font-style: italic;
    }
    .quoteBeginPage {
        padding-top: 2rem;
        background-color: #F9F8F8;
    }
    /*Buecher*/

    .buecher_1, .buecher_2 {
        display: grid;
        grid-template-rows: 0.5fr 1fr;

        justify-items: center;
        overflow: auto;

        max-height: 60vh;

        padding: 1rem;
    }
    .buecher_1 {
        grid-template-areas: "bild title" "bild text";
        grid-template-columns: 0.5fr 1fr;
    }
    .buecher_2 {
        grid-template-areas: "title bild" "text bild";
        grid-template-columns: 1fr 0.5fr;
    }

    .headerBuch {
        grid-area: title;
        text-align: center;
        align-self: center;
    }
    .bildBuch {
        grid-area: bild;

        max-height: 90%;
        max-width: 100%;

        align-self: center;
    }
    .beschreibungBuch {
        grid-area: text;

        text-align: justify;
    }

    .containerBuch {
    /*    background-color: #d5d6d2;*/
        background-color: white;
        border-radius: 10px;
        box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.25);
    }
    .containerBuch:hover {
        transition:  box-shadow 300ms ease-in-out;
        box-shadow: 3px 11px 10px rgba(0, 0, 0, 0.25);
    }

    /* Journalismus */

    .nurText {
        padding: 1rem;
    }
    .pText {
        margin: 0;
        padding-bottom: 0.75rem;
        text-align: center;
    }
} /* end media */