/* ================================

layout.css 

- Gestaltung der Layoutbereiche 
- Hauptnavigation in eigenem Stylesheet 
- Inhaltsbereich in content.css 

================================ */
@media screen {

/*Gestaltung der Überschriften */

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}
.header {
    max-width: 80vw;
    padding: 1rem;
    margin: 0 auto;
}

/********************
 Grid 
 ********************/
    main {
        max-width: 80vw;
        margin: 0 auto;
    }
    


    /* Header */ 
    .header {
        text-align: center;
    }

    /*Section buecher*/

    /* Abstände */

    article {
        margin: 1rem 0;
    }
    section {
        margin: 2rem 0;
    }

    header {
        padding: 1rem;
    }

} /*end media */