/***********************
    Mobile Adjustments
***********************/

/* Meine Stufen: 
1. 958 - 990px
2. 766 - 957px
3. 551 - 765px
4. 420 - 550px
5. 300 - 420px
6. 324px

*/
@media screen {
    @media screen and (max-width: 990px) and (min-width: 957px) {
        /*Willkommen */
        html body main .ganzeSeite {
            grid-template-columns: auto;
            grid-template-rows: 1fr;
        }

    }
    @media screen and (max-width: 957px) and (min-width: 765px) {
        /*Willkommen */
        html body main .ganzeSeite {
            grid-template-columns: auto;
            grid-template-rows: 1fr;
        }


        /*Nav*/
        .site-nav-list {
            max-width: 100vw;
            justify-content: space-between;
        }
    }

    @media screen and (max-width: 765px) and (min-width: 551px) {
   
        /*Nav*/
        .site-nav-list {
            max-width: 100vw;
            justify-content: space-between;
        }

        .nav_container {
            padding: 0;
        }
        .site-nav-list {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
            justify-content: space-between;
            justify-items: space-around;
            align-items: center;

            padding: 0;
        }


        .aNav {
            line-height: 2.8rem;
        }

        /*Main*/
        html body main {
            max-width: 97vw;
        }

        /*Willkommen*/
        html body main .ganzeSeite {
            grid-template-columns: auto;
            grid-template-rows: 1fr;
        }
        html body main .ganzeSeite .welcomeContainer {
            padding: 1rem 0;
        }
    }

    @media screen and (max-width: 551px) and (min-width: 420px) {
      
        /*Nav*/
        .site-nav-list {
            max-width: 100vw;
            justify-content: space-between;
        }
        
        .nav_container {
            padding: 0;
        }
        .site-nav-list {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
            justify-content: space-between;
            justify-items: space-around;
            align-items: center;

            padding: 0;
        }

        .aNav {
            line-height: 2.8rem;
        }

        /*Toggle Nav*/
        /*Toggle Nav*/
        .aNav {
            text-decoration: none;
            color: #1E1E23;
            opacity:1;
            transition: 200ms;
        }
        .aNav:hover {
            opacity:0.5;
        }
        
        .nav_container {
            background-color: #622a0f;
            height: 65px;
        }
        
        
        #menuToggle {
            display: flex;
            flex-direction: column;
            position: relative;
            top: 25px;
            left: 25px;
            z-index: 1;
            -webkit-user-select: none;
            user-select: none;
        }
        
        #menuToggle input {
            display: flex;
            width: 40px;
            height: 32px;
            position: absolute;
            cursor: pointer;
            opacity: 0;
            z-index: 2;
        }
        
        #menuToggle span {
            display: flex;
            width: 29px;
            height: 2px;
            margin-bottom: 5px;
            position: relative;
            background: #FFFBF7;
            border-radius: 3px;
            z-index: 1;
            transform-origin: 5px 0px;
            transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                        opacity 0.55s ease;
        }
        
        #menuToggle span:first-child {
            transform-origin: 0% 0%;
        }
        
        #menuToggle span:nth-last-child(2) {
            transform-origin: 0% 100%;
        }
        
        #menuToggle input:checked ~ span {
            opacity: 1;
            transform: rotate(45deg) translate(-3px, -1px);
            background: #36383F;
        }
        #menuToggle input:checked ~ span:nth-last-child(3) {
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
        }
        
        #menuToggle input:checked ~ span:nth-last-child(2) {
            transform: rotate(-45deg) translate(0, -1px);
        }
        
        #menu {
            position: absolute;
            max-width: 100vw;
            max-height: 100vh;
            overflow: scroll;
            box-shadow: 0 0 10px #85888C;
            margin: -50px 0 0 -50px;
            padding: 50px;
            padding-top: 125px;
            background-color: #FFFBF7;
            -webkit-font-smoothing: antialiased;
            transform-origin: 0% 0%;
            transform: translate(-100%, 0);
            transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

            align-content: start;
            align-items: start;
        }
        
        #menu li {
            padding: 10px 0;
            transition-delay: 2s;
        }
        
        #menuToggle input:checked ~ ul {
            transform: none;
        }

        li > a {
            background-color: #FFFBF7;
        }

        .u-r-here > a {
            background-color: #FFFBF7;
        }

        li >a:hover, li > a:active {
            background-color: #FFFBF7;
        }
        
        /*Main*/
        html body main {
            max-width: 97vw;
        }

        /*Welcome*/
        html body main .ganzeSeite .welcomeContainer .welcomeText {
            padding-left: 0;
        }

        html body main .ganzeSeite {
            grid-template-columns: auto;
            grid-template-rows: 1fr;
        }
        html body main .ganzeSeite .welcomeContainer {
            padding: 1rem;
        }

        /*Bücher*/
        .buecher_1, .buecher_2 {
            display: block;
        }
        .bildBuch {
            display: block;
            margin: auto;
        }

        /*Formular*/
        .contentForm {
            display: block;
        }
        .seiteKontakt {
            display: none;
        }

        /*Footer*/
        html body .footer {
            grid-template-areas: "kontakt top infos";
            grid-template-rows: 1fr;

        }

        html body .footer .nachOben {
            align-self: flex-end;
        }
    }

    @media screen and (max-width: 420px) and (min-width: 300px) {
        
        /*Nav*/
        .site-nav-list {
            max-width: 100vw;

            display: flex;
            flex-direction: column;

            padding: 0;
        }
        
        .nav_container {
            padding: 0;
        }

        .aNav {
            line-height: 1.7rem;
            padding: 0.2rem 1rem;
        }
        .liNav  {
            padding: 0;
            margin: 0;
        }
        /*Toggle Nav*/
        .aNav {
            text-decoration: none;
            color: #1E1E23;
            opacity:1;
            transition: 200ms;
        }
        .aNav:hover {
            opacity:0.5;
        }
        
        .nav_container {
            background-color: #622a0f;
            height: 65px;
        }
        
        
        #menuToggle {
            display: flex;
            flex-direction: column;
            position: relative;
            top: 25px;
            left: 25px;
            z-index: 1;
            -webkit-user-select: none;
            user-select: none;
        }
        
        #menuToggle input {
            display: flex;
            width: 40px;
            height: 32px;
            position: absolute;
            cursor: pointer;
            opacity: 0;
            z-index: 2;
        }
        
        #menuToggle span {
            display: flex;
            width: 29px;
            height: 2px;
            margin-bottom: 5px;
            position: relative;
            background: #FFFBF7;
            border-radius: 3px;
            z-index: 1;
            transform-origin: 5px 0px;
            transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                        opacity 0.55s ease;
        }
        
        #menuToggle span:first-child {
            transform-origin: 0% 0%;
        }
        
        #menuToggle span:nth-last-child(2) {
            transform-origin: 0% 100%;
        }
        
        #menuToggle input:checked ~ span {
            opacity: 1;
            transform: rotate(45deg) translate(-3px, -1px);
            background: #36383F;
        }
        #menuToggle input:checked ~ span:nth-last-child(3) {
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
        }
        
        #menuToggle input:checked ~ span:nth-last-child(2) {
            transform: rotate(-45deg) translate(0, -1px);
        }
        
        #menu {
            position: absolute;
            max-width: 100vw;
            max-height: 100vh;
            overflow: scroll;
            box-shadow: 0 0 10px #85888C;
            margin: -50px 0 0 -50px;
            padding: 50px;
            padding-top: 125px;
            background-color: #FFFBF7;
            -webkit-font-smoothing: antialiased;
            transform-origin: 0% 0%;
            transform: translate(-100%, 0);
            transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

            align-content: start;
            align-items: start;
        }
        
        #menu li {
            padding: 10px 0;
            transition-delay: 2s;
        }
        
        #menuToggle input:checked ~ ul {
            transform: none;
        }

        li > a {
            background-color: #FFFBF7;
        }

        .u-r-here > a {
            background-color: #FFFBF7;
        }

        li >a:hover, li > a:active {
            background-color: #FFFBF7;
        }
                

        /*Header*/
        .header {
            display: none;
        }
        /*Hero*/
        .heroSvg {
            display: none;
        }

        .hero {
            display: flex;

            margin: 0;
            padding: 1rem 0.5rem;

            max-height: 300px;
        }
        .picMobile {
            display: block;
            max-height: 80%;
            max-width: 50vw;

        }
        .welcomeFrankBild {
            display: none;
        }
        /*Main*/

        html body main {
            max-width: 97vw;
        }

        /*Welcome*/

        
        html body main .ganzeSeite {
            display: block;
            max-height: none;
        }
        html body main .ganzeSeite .welcomeContainer {
            display: block;
            max-height: none;

            margin: 0 auto;
            padding: 1rem;
        }

        html body main .ganzeSeite .welcomeContainer .welcomeText {
            padding-left: 0;
        }

        /*Auswahl Erscheinungen */
        html body main .buecherAll {
            max-height: none;
        }
        html body main .buecherAll .buecherContainer {
            display: block;
            margin: 0 auto;

        }

        /*Bücher*/
                
        .buecher_1, .buecher_2 {
            display: block;
        }
        .bildBuch {
            display: block;
            margin: auto;

            max-height: 290px;
        }

        /*Formular*/
        .contentForm {
            display: block;
        }
        .seiteKontakt {
            display: none;
        }
        
        /*Footer*/
        html body .footer {
            grid-template-areas: "kontakt top infos";
            grid-template-rows: 1fr;

        }

        html body .footer .nachOben {
            align-self: flex-end;
        }

    }

    @media screen and (max-width: 324px) {
        .picMobile {
            display: none;
        }
    }

    @media screen and (max-height: 450px) {
        html body main .ganzeSeite .welcomeContainer img {
            max-height: 70vh;
        }
        .bildBuch {
            max-height: 70vh;
        }
    }
} /*end screen*/