/* ================================

navi-flex.css 

Horizontale Navigation basierend auf display:flex  

================================ */

@media screen {

     .nav_container {
        /*background-color:#3a5199;*/
        padding: 0.75rem 0;

        background-color: #622a0f;
       
   }

     .site-nav-list {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
        justify-content: flex-start;
        align-items: center;
        max-width: 80vw;
        margin: 0 auto;
        padding: 0;

        
   }

     li > a {
       text-decoration: none;
/*       color: white;
       background-color:#3a5199;
*/
       color: #f1f1f2;
       background-color:#622a0f;

       padding: 0.75rem 1rem;

   }

     li >a:hover, li > a:active {
      color: black;
      background-color: #ffe9c5 ;
   }

     .u-r-here > a {
       color: black;
       background-color: #ffe9c5 ;
   }
} /*end media */