/* ================================

navi-flex.css 

Horizontale Navigation basierend auf display:flex  

================================ */

@media screen {

   .nav_container {
        /*background-color:#3a5199;*/
        padding: 0.75rem 0;

        background-color: #1995ad;
       
   }

   .site-nav-list {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
        justify-content: flex-start;
        align-items: center;
        max-width: 80vw;
        margin: 0 auto;
        padding: 0;

        
   }

   li > a {
       text-decoration: none;
/*       color: white;
       background-color:#3a5199;
*/
       color: #f1f1f2;
       background-color:#1995ad;

       padding: 0.75rem 1rem;

   }

   li >a:hover, li > a:active {
  /*     background-color: #d5d6d2;
       color: #2f2e33;*/
       background-color: #a1d6e2;
   }

   .u-r-here > a {
    /*   color: #2f2e33;
       background-color: #d5d6d2;*/
       background-color: #a1d6e2;
   }
} /*end media */