@media screen {
    @mixin gridBuecher($area, $columns, $rows,$align) {
        display: grid;
        grid-template-areas: $area;
        grid-template-columns: $columns;
        grid-template-rows: $rows;
        justify-items: center;
        justify-content: $align;
        align-items: center;
        align-content: center;
        max-height: 100%;
    }
    
    @mixin box() {
        background-color: white;
        box-shadow: 3px 11px 10px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        max-height: 60vh;
    }
    
    html {
        background: linear-gradient(180deg, #FFFFFF 0%, #FDFDFD 0.01%, #F9F8F8 125.56%);
        margin: 0;
        scroll-behavior: smooth;
        body {
            margin: 0;
            .navUndHeader {

                margin: 0;

                background-color: #F9F8F8;

                position: sticky;
                position: -webkit-sticky;
                top:0;

                z-index: 1;
            }
            main {
                max-width: 80vw;
                margin: 0 auto;
                z-index: 0;
                
                
            }
            .footer {
                margin: 0;
                padding: 0;

                background-color: #312F2F;
                color: #F9F8F8;

                @include gridBuecher("kontakt . infos" ". top .", 2fr 1fr 2fr, 1fr 0.2fr, center);
                .kontakt{
                    grid-area: kontakt;
                    padding: 1rem;
                }
                .infos {
                    grid-area: infos;
                    padding: 1rem;
                }
                .nachOben {
                    grid-area: top;
                    .fa-angle-up {
                        color: #F9F8F8;

                        padding: 0.2rem 0.7rem;
                        border: #F9F8F8 1px solid;
                        &:hover {
                            transform: scale(1.2);
                        }
                    }
                }
                section {
                    margin: 0;
                    article {
                        margin: 0;
                        padding: 1rem;
                        p {
                            margin: 0;
                            a {
                                color: #F9F8F8;
                            }
                        }
                    }
                    p {
                    margin: 0;
                    }
                    a {
                        color: #F9F8F8;
                    }
                }
                
            }
        }
    }
    
} /*end media */